VITE_FIREFLY_BILLING_ENDPOINT=https://firefly.qwjxqn.xyz/api/products/batch-image-upload/deduct
VITE_FIREFLY_HOME_URL=https://firefly.qwjxqn.xyz
VITE_FIREFLY_FEEDBACK_GROUP_URL=
FIREFLY_FEEDBACK_WEBHOOK_URL=
